/**
 * @media query for laptop or tablet
 */
@media screen and (min-width: 1024px) {
	
.mp-largeScreenHide{
	display:none !important;
}
/*
 *   begin navigation
 */
.mp-pageHeader.mp-IconDiv {
  width: 180px;
  height: 60px;
  display: inline;
  float: left;
  cursor: pointer;
} 	
.mp-navigation {
  position: relative;
  top: 20px;
  left: 15%;
  display: inline;
  overflow: hidden;
}
.mp-navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
	display: inline;
	overflow: hidden;
}
.mp-navigation ul li {
    display: inline;
    background: none;
}
.mp-navigation ul li a {
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    color: #626060;
	font-size: 1.1em;
  	padding: .2em .8em;
    text-transform: uppercase;
}
.mp-navigation ul li a:hover {
    color: #2ecc71;
}

/** end navigation**/
/**begin home page**/

.massageTypePreview-text {
    display: inline;
}
.mp-massageTypePreview-text span.mp-massageTypePreview-name {
    font-size: 24px;
    display: inline;
}
.mp-massageTypePreview-text span.mp-massageTypePreview-price {
    font-size: 26px;
    padding-left: 20px;
    font-weight: bold;
    display: inline;
}
.mp-massageTypePreview-text {
    line-height: 30px;
    height: 30px;
    padding: 10px 0px 10px 50px;
    text-align: center;
    float: left;
    color: #2ecc71;
}
.mp-seeMoreOptions {
    text-align: center;
}
.mp-seeMoreOptions button {
    margin: 30px auto !important;
    font-size: 18px;
    width: 30%;
    padding: 10px 50px !important;
    min-width: 200px;
}
.mp-whyus {
    margin: 30px auto;
	width:33%;
	text-align: center;
	display:inline;
	float:left;
	
}

.mp-left {
   width : 80%;
   margin : 30px auto;
   float:right;  
}
.mp-right {
   width : 80%;
   margin : 30px auto;
   float:left;
}
/*
.mp-whyus .mp-whyus-image{
  	margin-left:30%
}
.mp-whyus.mp-left{
   	 float : right;
}
.mp-whyus.mp-center{
   	 width:60%;
}
.mp-whyus.mp-right{
   	 float : left;
}
*/


.mp-test{
	display:inline;
	width:33%;
	float:left;
	 margin: 30px auto;
	 text-align: center;
}


.mp-massageTypePreview .mp-massageTypePreview-image:hover {
  	box-shadow: 0px 0px 10px rgb(95, 95, 95); 	 
}
.mp-massageTypePreview .mp-massageTypePreview-image {
   border-radius: 10px;
  transition: box-shadow 0.5s ease 0s;
  margin:0px auto;
}
.mp-massageTypePreview-image {
    border-radius: 15px;
    overflow: hidden;
	 height:auto;
    width:100%;
}

/** end home page**/
/** begin book massage page **/
.panda-bookMassage-partOne{
	margin-top : 20px;
	margin-bottom : 20px;
}
.mp-massageTypePreview.mp-bookMassagePreview .mp-massageTypePreview-image {
     width: 100%;
	 height:auto;
}
.mp-massageTypePreview.mp-bookMassagePreview {
    width: 95%;
    margin: 10px auto;
   height: 33vw;
}
.mp-massageTypePreview-text.mp-bookMassagePreview-text {
    padding: 10px 0px 10px 10px;
	text-align: center;
  width: 100%;
}

.mp-massageTypePreview-text.mp-bookMassagePreview-text span.mp-massageTypePreview-name {
    font-size: 20px;
    font-weight: 100;
    display: inline;
}

.mp-massageTypePreview-text.mp-bookMassagePreview-text span.mp-massageTypePreview-price {
    font-size: 22px;
    padding-left: 20px;
    font-weight: bold;
    display: inline;
}

/** end book massage page **/
/** begin massage details page **/
.mp-massageDetails-panel.mp-right{
	top:80px;
	width:90%;
}
.mp-massageDetails {
    height: auto;
    width: 80%;
    border-radius: 10px;
    margin: 30px auto;
}
.mp-massageDetails-form {
    width: 70%;
    min-width: 320px;
}
.mp-massageDetails-image {
    border-radius: 15px;
    overflow: hidden;
	 height:auto;
    width: 100%;
}
/**end massage details page**/
/**begin checkout page**/
#payment-form .mp-checkoutSection{
	min-width : 320px;
	margin: 0 auto; 
}
.mp-checkoutSection.mp-checkoutSection-left {
  width: 80%;
  height: 680px;
  float: right;
}
.mp-checkoutSection.mp-checkoutSection-right {
width: 80%;
  max-width: 400px;
  float: left;
}

.mp-billingAddress{
	margin-bottom:20px
}
/**end checkout page**/

}

