#mp-footer {
    background: #F3F3F4 none repeat scroll;
    padding: 20px 0;
    color: #6d6d6d;
    width: 100%;
    text-align: center;
}

.mp-LastName {
    padding: 100px;
}

#panda_helpCenter {
    margin: 10px auto;
    width: 90%;
}

.mp-submit {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: #81e69d;
}

.mp-applySubmit {
    display: block;
    margin: 0 auto;
    width: 30%;
}

#mp-GiveAGiftLine {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #0b0b0b;
    width: 20%;
    color: black;
}

.GiveAGift {
    width: 60%;
}

.mp-confirm {
    width: 85%;
    float: left;
    margin: 50px;
}

.mp-AboutImage {
    background: url("../image/AboutImage.jpg") no-repeat 50% 50%;
    position: relative;
    top: -50px;
	width:100%;
	height:400px
}

#mp-ApplyAsMassage {
    padding: 100px;
    font-size: 200%;
}

#mp-ContactUs {
    margin: 80px;
    float-left: 50px;
    font-size: 200%;
}

#panda_about {
  margin: 0px auto;
width: 90%;
font-size: 200%;
}

.mp-socialLink {
  width: 20px;
  height: 23px;
  margin: 0 0 0 15px;
   display: inline-block;
   cursor: pointer;
  vertical-align: top;
}

.mp-socialLink-facebook{
	  background: url(../image/footer_socialIcons.png) no-repeat 0px 0px;
}
.mp-socialLink-facebook:hover {
  background: url(../image/footer_socialIcons.png) no-repeat 0px -24px;
}
.mp-socialLink-twitter{
	  background: url(../image/footer_socialIcons.png) no-repeat -71px 0px;
}
.mp-socialLink-twitter:hover {
  background: url(../image/footer_socialIcons.png) no-repeat -71px -24px;
}
.mp-socialLink-plus{
	background: url(../image/footer_socialIcons.png) no-repeat -322px 0px;
}
.mp-socialLink-plus:hover {
  background: url(../image/footer_socialIcons.png) no-repeat -322px -24px;
}
.mp-socialLink-pinterest{
	background: url(../image/footer_socialIcons.png) no-repeat -214px 0px;
}
.mp-socialLink-pinterest:hover {
  background: url(../image/footer_socialIcons.png) no-repeat -214px -24px;
}
.mp-socialLink-mail{
	 background: url(../image/footer_socialIcons.png) no-repeat -353px 0px;
}
.mp-socialLink-mail:hover {
  background: url(../image/footer_socialIcons.png) no-repeat -353px -24px;
}
 
.mp-tableContainer{
	width:70%
	margin: 20px auto;
}

.mp-footerTable {
	 width: 80%;
	 margin: 0px auto;
}

.mp-footerTable tr > td {
    width: 30% !important;
}

.mp-footerDescription {
 width: 90%;
  margin: 0 auto;
  color: #6d6d6d;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.mp-supportmassage {
    right: 130px;
}

.mp-wordLove {
    color: red;
}

.mp-threewords {
    color: green;
}

