_generate_street_names/GenerateStreetNames/bin/
_generate_street_names/GenerateStreetNames/obj/
_generate_street_names/ValidStreetNames/TestCurl/bin/
_generate_street_names/ValidStreetNames/TestCurl/obj/
_generate_street_names/ValidStreetNames/.vs
_generate_street_names/CityGraph/CityGraph/bin
_generate_street_names/CityGraph/CityGraph/obj
_generate_street_names/CityGraph/CityGraph/.vs
_generate_street_names/ImplementOreder/.vs
_generate_street_names/ImplementOreder/ImplementOreder/bin
_generate_street_names/ImplementOreder/ImplementOreder/obj