<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="InputFileName" value="../Common/GenerateStreets.txt" />
    <add key="OutputFileName" value="../Common/StreetsAfterValidation.txt" />
    <add key="TargetElementNameToFind" value="Zip5" />
    <add key="TargetElementAddressToFind" value="Address2" />
    
    <add key="UspsApiPrefixUrl" value="http://production.shippingapis.com/ShippingAPI.dll?API=ZipCodeLookup" />
    <add key="UspsUserId" value="192NEXT07990" />
  </appSettings>
</configuration>